.AboutMe {
	min-height: 100vh;
	min-width: 100vw;
	background: #30bcd1;
	color: white;
	font-size: 2em;
	position: relative;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.AboutMe-text-container {
	margin: 50px 100px;
}

/* SVG Styles */
.custom-shape-divider-bottom-1614964376 {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	transform: rotate(180deg);
}

.custom-shape-divider-bottom-1614964376 svg {
	position: relative;
	display: block;
	width: calc(199% + 1.3px);
	height: 63px;
}

.custom-shape-divider-bottom-1614964376 .shape-fill {
	fill: #2d2d2d;
}
