.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.Main {
	min-width: 100vw;
	min-height: 100vh;
	background-color: #2d2d2d;
	color: white;
}

.Main-header {
	font-size: 6em;
}

.Main-image {
	width: 400px;
	border-radius: 50%;
	filter: grayscale(100%);
}

.Main-p {
	font-size: 1.5em;
}

/* SVG Styles */
.custom-shape-divider-top-1613944815 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
}

.custom-shape-divider-top-1613944815 svg {
	position: relative;
	display: block;
	width: calc(100% + 1.3px);
	height: 144px;
}

.custom-shape-divider-top-1613944815 .shape-fill {
	fill: #30bcd1;
}

.custom-shape-divider-bottom-1613945740 {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	transform: rotate(180deg);
}

.custom-shape-divider-bottom-1613945740 svg {
	position: relative;
	display: block;
	width: calc(100% + 1.3px);
	height: 92px;
}

.custom-shape-divider-bottom-1613945740 .shape-fill {
	fill: #30bcd1;
}
