.Skills {
	min-height: 100vh;
	min-width: 100vw;
	background-color: #2d2d2d;
	color: white;
	font-size: 2rem;
}

.col-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 0 15%;
}

.Skills ul {
	list-style-type: none;
}

ul i {
	margin-right: 10px;
}

@media screen and (max-width: 650px) {
	.text-container {
		text-align: center;
	}
}
